<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-body shadow raduis-xm">
                <nz-tabset [nzSize]="'large'">
                    <nz-tab [nzTitle]="all_ventes_title">
                        <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        IDENTIFIANT
                                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                            <i nz-icon nzType="search"></i>
                                        </nz-filter-trigger>
                                    </th>
                                    <th>MONTANT</th>
                                    <th>ETAT</th>
                                    <th>DESCRIPTION</th>
                                    <th>CLIENT</th>
                                    <th>TELEPHONE</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of nzTable.data">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.age }}</td>
                                    <td>{{ data.address }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </nz-tab>
                    <nz-tab [nzTitle]="en_cours_ventes_title">
                        <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        IDENTIFIANT
                                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                            <i nz-icon nzType="search"></i>
                                        </nz-filter-trigger>
                                    </th>
                                    <th>MONTANT</th>
                                    <th>ETAT</th>
                                    <th>DESCRIPTION</th>
                                    <th>CLIENT</th>
                                    <th>TELEPHONE</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of nzTable.data">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.age }}</td>
                                    <td>{{ data.address }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </nz-tab>
                    <nz-tab [nzTitle]="terminer_ventes_title">
                        <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        IDENTIFIANT
                                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                            <i nz-icon nzType="search"></i>
                                        </nz-filter-trigger>
                                    </th>
                                    <th>MONTANT</th>
                                    <th>ETAT</th>
                                    <th>DESCRIPTION</th>
                                    <th>CLIENT</th>
                                    <th>TELEPHONE</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of nzTable.data">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.age }}</td>
                                    <td>{{ data.address }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </nz-tab>
                    <nz-tab [nzTitle]="livrer_ventes_title">
                        <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
                            <thead>
                                <tr>
                                    <th nzCustomFilter>
                                        IDENTIFIANT
                                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                            <i nz-icon nzType="search"></i>
                                        </nz-filter-trigger>
                                    </th>
                                    <th>MONTANT</th>
                                    <th>ETAT</th>
                                    <th>DESCRIPTION</th>
                                    <th>CLIENT</th>
                                    <th>TELEPHONE</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of nzTable.data">
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.age }}</td>
                                    <td>{{ data.address }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </nz-tab>


                </nz-tabset>
            </div>
        </div>
    </div>
</div>

<ng-template #all_ventes_title>
    <h5 class="bold text-primary">Tous</h5>
</ng-template>
<ng-template #en_cours_ventes_title>
    <h5 class="bold text-danger">En cours</h5>
</ng-template>
<ng-template #terminer_ventes_title>
    <h5 class="bold text-warning">Terminée</h5>
</ng-template>
<ng-template #livrer_ventes_title>
    <h5 class="bold text-success">Cloturée/Livrée</h5>
</ng-template>