<router-outlet>
</router-outlet>
<footer class="bg-gray">

    <div class="container">
        <div class="row py-5 ">
            <div class="col-md-4 ">
                <div class="my-5">
                    <a routerLink="/">
                        <img src="/assets/img/logo.jpeg" alt="LOGO" width="100"></a>
                </div>
                <span class="text-muted">
                    Lorem ipsum dolor sit amet consectetur, Temporibus earum necessitatibus itaque.
                </span>
                <div>
                    <div class="row">
                        <div class="col-md-2 mx-1 circle-icon">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="col-md-2 mx-1 circle-icon">
                            <i class="fa fa-twitch" aria-hidden="false"></i>
                        </div>
                        <div class="col-md-2 mx-1 circle-icon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <span class="text-dark">
                    Retrouver nous sur les plateformes
                </span> <br>
                <div>
                    <div class="row container d-flex justify-content-center">
                        <div class="template-demo mt-2"> <button class="btn btn-outline-dark btn-icon-text"> <i
                                    class="fa fa-apple btn-icon-prepend mdi-36px"></i> <span
                                    class="d-inline-block text-left"> <small
                                        class="font-weight-light d-block">Available
                                        on the</small> App Store </span> </button> <button class="btn btn-outline-dark btn-icon-text"> <i
                                    class="fa fa-android btn-icon-prepend mdi-36px"></i> <span
                                    class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it
                                        on the</small> Google Play </span> </button> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-service">
                            <strong>Services</strong>
                            <li>Service 1</li>
                            <li>Service 2</li>
                            <li>Service 3</li>
                            <li>Service 4</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-service">
                            <strong>Services</strong>
                            <li>Service 1</li>
                            <li>Service 2</li>
                            <li>Service 3</li>
                            <li>Service 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-color px-5 py-3">
        <h6 class="text-white">&copy; 2022 tous droits reservé</h6>
    </div>
</footer>