<header class="d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <a [routerLink]="['/home']"><img src="/assets/icons/logo.png" alt="" class="img-fluid"></a>
        </div>

    </div>
</header>
<div class="hero-login">

</div>
<main>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-10 m-auto">
                <div class="card login-card-bg  shadow raduis-sm">
                    <div class="card-body">
                        <h3 class="">Connexion</h3>
                        <form class="form my-3">
                            <div class="form-group my-3">
                                <label for="prenoms bold">Numéro téléphone</label>
                                <input type="text" class="form-control shadow-sm" id="prenoms" name="prenoms">
                            </div>
                            <div class="form-group my-3">
                                <label for="prenoms bold">Mot de passe</label>
                                <input type="text" class="form-control shadow-sm" id="prenoms" name="prenoms">
                            </div>
                            <div class="details row justify-items-between my-4">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input login-form-label" name="remember" type="checkbox" value="" id="remember">
                                        <label class="form-check-label login-label" for="remember">
                                            Se souvenir de moi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <a [routerLink]="['/home']" class="forget-pwd">Mot de passe oublié?</a>
                                </div>
                            </div>
                            <button class="btn btn-1 btn-block col-12 mb-3" type="submit">CONNEXION</button>

                            <div class="text-center mt-3">
                                <span class="text- text-center">Vous n'avez pas de compte? <a [routerLink]="['/auth/register']" class="text-dark-green">Crée votre compte</a> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>